<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>servlet1</servlet-name>
  	<servlet-class>org.cam.classdemo.ResponseDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet1</servlet-name>
  	<url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>servlet2</servlet-name>
  	<servlet-class>org.cam.classdemo.ResponseDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet2</servlet-name>
  	<url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>servlet3</servlet-name>
  	<servlet-class>org.cam.classdemo.ResponseDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet3</servlet-name>
  	<url-pattern>/servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>servlet4</servlet-name>
  	<servlet-class>org.cam.classdemo.ResponseDemo4</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet4</servlet-name>
  	<url-pattern>/servlet4</url-pattern>
  </servlet-mapping>
 
  <servlet>
  	<servlet-name>servletdemo1</servlet-name>
  	<servlet-class>org.cam.classdemo.RequestDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servletdemo1</servlet-name>
  	<url-pattern>/servlet1/servletdemo1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>servletdemo2</servlet-name>
  	<servlet-class>org.cam.classdemo.RequestDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servletdemo2</servlet-name>
  	<url-pattern>/servlet2/servletdemo2</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>servletdemo3</servlet-name>
  	<servlet-class>org.cam.classdemo.RequestDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servletdemo3</servlet-name>
  	<url-pattern>/servlet3/servletdemo3</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>servlettestdemo1</servlet-name>
  	<servlet-class>org.cam.test.RequestDemoTest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlettestdemo1</servlet-name>
  	<url-pattern>/servlet4/servlettestdemo1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>servlettestdemo2</servlet-name>
  	<servlet-class>org.cam.test.ResponseDemoTest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlettestdemo2</servlet-name>
  	<url-pattern>/servlet5</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>cookieDemo1</servlet-name>
  	<servlet-class>org.cam.classdemo.CookieDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>cookieDemo1</servlet-name>
    <url-pattern>/cookieDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>cookieDemo2</servlet-name>
  	<servlet-class>org.cam.classdemo.CookieDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>cookieDemo2</servlet-name>
    <url-pattern>/cookieDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>cookieDemo3</servlet-name>
  	<servlet-class>org.cam.classdemo.CookieDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>cookieDemo3</servlet-name>
    <url-pattern>/cookieDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>cookieDemo4</servlet-name>
  	<servlet-class>org.cam.classdemo.CookieDemo4</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>cookieDemo4</servlet-name>
    <url-pattern>/cookieDemo4</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>shoppingDemo1</servlet-name>
  	<servlet-class>org.cam.test.ShoppingDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>shoppingDemo1</servlet-name>
  	<url-pattern>/shoppingDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>shoppingDemo2</servlet-name>
  	<servlet-class>org.cam.test.ShoppingDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>shoppingDemo2</servlet-name>
  	<url-pattern>/shoppingDemo2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>sessionDemo1</servlet-name>
  	<servlet-class>org.cam.classdemo.SessionDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sessionDemo1</servlet-name>
  	<url-pattern>/sessionDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>sessionDemo2</servlet-name>
  	<servlet-class>org.cam.classdemo.SessionDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sessionDemo2</servlet-name>
  	<url-pattern>/sessionDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>sessionDemo3</servlet-name>
  	<servlet-class>org.cam.classdemo.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sessionDemo3</servlet-name>
  	<url-pattern>/sessionDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>sessionDemo4</servlet-name>
  	<servlet-class>org.cam.classdemo.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sessionDemo4</servlet-name>
  	<url-pattern>/sessionDemo4</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>sessionDemo5</servlet-name>
  	<servlet-class>org.cam.classdemo.RandomImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sessionDemo5</servlet-name>
  	<url-pattern>/sessionDemo5</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>sessionDemo6</servlet-name>
  	<servlet-class>org.cam.classdemo.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sessionDemo6</servlet-name>
  	<url-pattern>/sessionDemo6</url-pattern>
  </servlet-mapping>
</web-app>
